<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_PATH">../logs/model-training</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Training Log File -->
        <RollingFile name="TrainingFile"
                     fileName="${LOG_PATH}/training.log"
                     filePattern="${LOG_PATH}/training-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error Log File -->
        <RollingFile name="ErrorFile"
                     fileName="${LOG_PATH}/error.log"
                     filePattern="${LOG_PATH}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- API Log File -->
        <RollingFile name="ApiFile"
                     fileName="${LOG_PATH}/api.log"
                     filePattern="${LOG_PATH}/api-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Logger -->
        <Logger name="com.app.modeltraining" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TrainingFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Controller Logger -->
        <Logger name="com.app.modeltraining.controller" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApiFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Scheduler Logger -->
        <Logger name="com.app.modeltraining.scheduler" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TrainingFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Spring Framework -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Hibernate -->
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TrainingFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>

